name: "ETL Infrastructure Setup/Destroy"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - prod
      action:
        description: "Apply or Destroy"
        required: true
        default: "apply"
        type: choice
        options:
          - apply
          - destroy

jobs:
  terraform-etl-env-setup:
    runs-on: ubuntu-latest
    env:
      TF_VERSION: 1.7.6
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
          terraform_wrapper: true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Terraform Init
        working-directory: pyspark-etl-project/infra
        run: terraform init -input=false

      - name: Terraform Plan (Apply only)
        if: ${{ github.event.inputs.action == 'apply' }}
        working-directory: pyspark-etl-project/infra
        run: terraform plan -input=false -out=tfplan -var="env=${{ github.event.inputs.environment }}"

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        working-directory: pyspark-etl-project/infra
        run: terraform apply -input=false -auto-approve tfplan

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        working-directory: pyspark-etl-project/infra
        run: terraform destroy -input=false -auto-approve -var="env=${{ github.event.inputs.environment }}"