name: Run PySpark ETL

on:
  workflow_dispatch:

jobs:
  deploy-etl:
    runs-on: ubuntu-latest

    env:
      EC2_IP: ${{ secrets.EC2_PUBLIC_IP }}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.EC2_PRIVATE_KEY }}

    - name: Copy ETL project to EC2
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@$EC2_IP "mkdir -p ~/pyspark-etl-project"
        scp -o StrictHostKeyChecking=no -r pyspark-etl-project/* ubuntu@$EC2_IP:~/pyspark-etl-project/

    - name: Run ETL on EC2
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@$EC2_IP << 'EOF'
          set -e
          cd ~/pyspark-etl-project
          chmod +x run_etl.sh
          ./run_etl.sh
        EOF